<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Chuck Norris API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">
  <div class="centrado">
    <img src="../../assets/chucknorrisio.png">
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>

  </ion-header>

  <div id="container">
    <img src="../../assets/chuck-norris-minion.gif">
    <ion-button routerLink="/chistes">JOKES</ion-button>
    <ion-button routerLink="/chiste-random">RANDOM JOKE</ion-button>
    <img src="../../assets/chuck-norris-minion.gif">
    <div class="favorites">
      <ion-button routerLink="/favourites"><ion-icon name="heart-outline"></ion-icon> YOUR FAVORITES <ion-icon name="heart-outline"></ion-icon></ion-button>
      <img src="../../assets/chuck-norris-muscle.gif" class="imagenPuno">
    </div>
  </div>
</ion-content>
